@{
    Layout = "";
}
@model IEnumerable<CMSys.Core.Entities.Catalog.Course>
@functions{
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="~/css/customStyles.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>




    <div class="divNameUser">
        <a class="aNameUser"> Name of user </a>
    </div>


    <div class="divWithData">
        <div class="divForHeading">
            <p class="h2Course">
                Update Trainers name of course
            </p>
        </div>
    </div>
    <div class="containerForUpdateTrainersCourse">
        <div class="itemSelectAddTrainersContainerForUpdateTrainersCourse">
            <div class="divAddTrainer">
                <div class="divString">
                    <p class="pStringForDiv">
                        11111
                    </p>
                </div>
            </div>
            <div class="divLineUpdateTrainers">
            </div>
            <div class="divSelectTrainers">
                <form class="form-inline">
                    <select class="SelectTrainers" id="inlineFormCustomSelectPref">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <button type="submit" class="btn btn-primary my-1">Submit</button>
                </form>
            </div>
        </div>


        <div class="itmesEditTrainersContainerForUpdateTrainersCourse">
            <div class="divStringForDivAddTrainer">
                <div class="divEditTrainer">
                    <div class="divString">
                        <p class="pStringForDiv">
                            222
                        </p>
                    </div>
                    <div class="divContainerStringUpdateTrainers">
                        <div class="firstItemdivContainerStringUpdateTrainers">
                            <p class="pStringMainLine"> Trainer </p>
                        </div>
                        <div class="itemdivContainerStringUpdateTrainers">
                            <p class="pStringMainLine"> Order </p>
                        </div>
                        <div class="lastItemdivContainerStringUpdateTrainers">
                            <p class="pStringMainLine"> Action </p>
                        </div>
                    </div>
                    <div class="divLineUpdateTrainers">
                    </div>

                    <div class="divContainerForEditTrainers">
                        <div class="firstItemForEditTrainers">
                            <p class="pString"> Traner name</p>
                        </div>
                        <div class="itemContainerForEditTrainers">
                            <p class="pString"> 2222222</p>
                        </div>
                        <div class="lastContainerForEditTrainers">
                            <button type="button" class="ButtonDeleteCourse" value="" id="deleteCourseEditTrainersButtonId">
                                Delete course
                            </button>
                        </div>
                    </div>

                    <div class="divContainerForEditTrainers">
                        <div class="firstItemForEditTrainers">
                            <p class="pString"> Traner name</p>
                        </div>
                        <div class="itemContainerForEditTrainers">
                            <p class="pString"> 2222222</p>
                        </div>
                        <div class="lastContainerForEditTrainers">
                            <button type="button" class="ButtonDeleteCourse" value="" id="deleteCourseEditTrainersButtonId">
                                Delete course
                            </button>
                        </div>
                    </div>
                    <div class="divContainerForEditTrainers">
                        <div class="firstItemForEditTrainers">
                            <p class="pString"> Traner name</p>
                        </div>
                        <div class="itemContainerForEditTrainers">
                            <p class="pString"> 2222222</p>
                        </div>
                        <div class="lastContainerForEditTrainers">
                            <button type="button" class="ButtonDeleteCourse" value="" id="deleteCourseEditTrainersButtonId">
                                Delete course
                            </button>
                        </div>
                    </div>



                </div>               
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="@Url.Content("/js/main.js")?v=@DateTime.UtcNow.ToString()"></script>














